# Pandas的学习笔记2.7

## .head()&.tail()查看部分行（默认前五行）
### 可以输入一个数字控制显示的行数

In [2]:
import pandas as pd

# Popular mobile apps
app_data = {
  'app_name': [
    'YouTube', 'TikTok', 'Instagram', 'Spotify', 'Duolingo', 
    'Twitter', 'Headspace', 'Discord', 'Depop'
  ],
  'category': [
    'Video', 'Social Media', 'Social Media', 'Music', 'Education',
    'Social Media', 'Health', 'Communication', 'Shopping'
  ],
  'rating': [
    4.7, 4.6, 4.5, 4.6, 4.7,
    4.3, None, 4.7, 4.4
  ],
  'downloads_millions': [
    5000, 3000, 3500, 2000, None,
    1500, 500, 600, 200
  ]
}

apps = pd.DataFrame(app_data)

apps.head()

    app_name      category  rating  downloads_millions
0    YouTube         Video     4.7              5000.0
1     TikTok  Social Media     4.6              3000.0
2  Instagram  Social Media     4.5              3500.0
3    Spotify         Music     4.6              2000.0
4   Duolingo     Education     4.7                 NaN

## .info()处理数据类型和缺失值

### 用法&用途

.info() 方法将显示有关 DataFrame 中每一列的信息。

In [3]:
apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   app_name            9 non-null      object
 1   category            9 non-null      object
 2   rating              8 non-null      float64
 3   downloads_millions  8 non-null      float64
dtypes: float64(2), object(2)
memory usage: 420.0+ bytes

#### 9entries 表示数据集中有 9 行数据

#### non-null是非空值的意思，若与行数不一致，则说明有缺失值

#### Dtype是每一列数据的数据类型
**用于了解Frame中的数据类型&缺失的数据量**
* 十进制浮点数->float64
* 整数储存->int64
* 复杂对象/自定义对象->object

## .describe()统计摘要

.describe() 方法来获取每个数值列的汇总统计信息（均值、最小值、最大值、标准差等）：

In [4]:
apps.describe()

         rating  downloads_millions
count  8.000000             8.00000
mean   4.562500          2037.50000
std    0.150594          1687.71824
min    4.300000           200.00000
25%    4.475000           575.00000
50%    4.600000          1750.00000
75%    4.700000          3125.00000
max    4.700000          5000.00000

### 添加include='all'可以查看非数值列的统计信息

In [5]:
apps.describe(include='all')

       app_name      category    rating  downloads_millions
count         9             9  8.000000             8.00000
unique        9             7       NaN                 NaN
top     YouTube  Social Media       NaN                 NaN
freq          1             3       NaN                 NaN
mean        NaN           NaN  4.562500          2037.50000
std         NaN           NaN  0.150594          1687.71824
min         NaN           NaN  4.300000           200.00000
25%         NaN           NaN  4.475000           575.00000
50%         NaN           NaN  4.600000          1750.00000
75%         NaN           NaN  4.700000          3125.00000
max         NaN           NaN  4.700000          5000.00000

## 查看特定的列

### 列(genre)

**类型：Series**
* 当我们选择单个列时，我们实际上得到的是一个 Pandas Series（而不是一个完整的 DataFrame）。
* 如果把 DataFrame 比作一张表格，那么 Series 就如同这张表格中的一列。它依然功能强大，只是范围更窄一些。

In [15]:
print(type(apps['app_name']))
apps['app_name']

<class 'pandas.core.series.Series'>

0      YouTube
1       TikTok
2    Instagram
3      Spotify
4     Duolingo
5      Twitter
6    Headspace
7      Discord
8        Depop
Name: app_name, dtype: object

### 多个列的访问

In [18]:
appNmae_cateGory_df = apps[['app_name','category']]
print(f'多个列的类型：{type(appNmae_cateGory_df)}')
print(f'单个列的类型：{type(apps['app_name'])}')
print(appNmae_cateGory_df)

多个列的类型：<class 'pandas.core.frame.DataFrame'>
单个列的类型：<class 'pandas.core.series.Series'>
    app_name       category
0    YouTube          Video
1     TikTok   Social Media
2  Instagram   Social Media
3    Spotify          Music
4   Duolingo      Education
5    Twitter   Social Media
6  Headspace         Health
7    Discord  Communication
8      Depop       Shopping

## 删除df中的特定列.drop()方法

In [26]:
## 尝试去除特定的列
apps_removed_rating_1 = apps.drop('rating', axis = 1)

print('去除特定的列后的详细列表')
print(apps_removed_rating_1)

print('去除特定的列后的详细信息')
apps_removed_rating_1.info()

print()
## 尝试去除特定的行
apps_removed_rating_0 = apps.drop(4, axis = 0)
print('去除特定的行后的详细列表')
print(apps_removed_rating_0)
print('去除特定的行后的详细信息')
apps_removed_rating_0.info()

去除特定的列后的详细列表
    app_name       category  downloads_millions
0    YouTube          Video              5000.0
1     TikTok   Social Media              3000.0
2  Instagram   Social Media              3500.0
3    Spotify          Music              2000.0
4   Duolingo      Education                 NaN
5    Twitter   Social Media              1500.0
6  Headspace         Health               500.0
7    Discord  Communication               600.0
8      Depop       Shopping               200.0
去除特定的列后的详细信息
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   app_name            9 non-null      object
 1   category            9 non-null      object
 2   downloads_millions  8 non-null      float64
dtypes: float64(1), object(2)
memory usage: 348.0+ bytes

去除特定的行后的详细列表
    app_name       category  rating  downloads_millions
0    YouTube          Video     4.7              5000.0
1     TikTok   Social Media     4.6              3000.0
2  Instagram   Social Media     4.5              3500.0
3    Spotify          Music     4.6              2000.0
5    Twitter   Social Media     4.3              1500.0
6  Headspace         Health     NaN               500.0
7    Discord  Communication     4.7               600.0
8      Depop       Shopping     4.4               200.0
去除特定的行后的详细信息
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 0 to 8
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   app_name            8 non-null      object
 1   category            8 non-null      object
 2   rating              7 non-null      float64
 3   downloads_millions  8 non-null      float64
dtypes: float64(2), object(2)
memory usage: 320.0+ bytes